body {
    background-color: #beceb0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f1efe9;
    padding: 10px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav {
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links img {
    width: 200px;
    height: auto;
}

/* navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34857f;
}

.navbar li {
  float: left;
  border-right:1px solid #999;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active, .logout) {
  background-color: #d0d0d0;
}


/* tables */
table {
    border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
}

th, td {
            border: 1px solid #ccc;
            padding: 10px 15px;
            text-align: left;
        }

footer {
    text-align: center;
    background-color: #34857f;
    color: #b0a48a;
    padding: 10px 0;
    font-size: 0.9em;
}